
/*------- css fonts links---------  */

@font-face{
    src: url(../fonts/playfair-display/playfairdisplay-black.otf);
    font-family:Playfairdisplay-black;
}
@font-face{
    src: url(../fonts/playfair-display/playfairdisplay-regular.otf);
    font-family:Playfairdisplay-regular;
}
@font-face{
    src: url(../fonts/playfair-display/playfairdisplay-italic.otf);
    font-family:Playfairdisplay-italic;
}

@font-face {
    font-family:Ubuntu-light;
    src: url(../fonts/ubuntu/ubuntu-light.ttf);
}

/*-------- css fonts links end------- */


/* --common css starts------ */
body{
   margin: 0;
   font-family:Playfairdisplay-regular;
   color: #626262;
   font-size:16px;
   font-weight: 400;


}
/* --common css end------ */


/* ---Header section starts--- */
header{
    padding: 35px 0 ;
    /* border: 1px solid rgb(255, 0, 0); */

}
.container{
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
    
}
.logo{
    margin-top: 5px;
    width: 12%;
    float: left;
    /* border: 1px solid black; */
    
}
.logo img{
    width: 100%;
}
.menu{
    width: 65%;
    float: right;

}
.menu ul{
    float: right;
}
.menu ul li{
    list-style: none;
    float: left;
}
.menu ul li a{
    display: inline-block;
    margin: 0 80px;
    text-decoration: none;
    text-transform: uppercase ;
    color: #626262;
    border-bottom: 1px solid transparent ;
    transition: .30s;

}
.menu ul li a:hover{
    border-bottom: 1.3px solid #626262 ;
}
.menu ul li:last-child a{
     margin-right: 0;
}

/* ---Header section end--- */

/* --Banner section starts-- */
/* .banner{}
.banner_img{} */
.banner_img img{
     width: 100%;
}

/* --Banner section sends-- */

/* ---- Weekend starts-- */
.weekend{
    padding: 80px 0;
    
}
.container_2{
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
    
   
}
/* .week_content{
} */
.common_tag{
    margin: 0;
    color:#b4ad9e;
    font-family:Ubuntu-light;
    text-transform: uppercase;
    font-size: 16px ;
    font-weight: 300;
}
.common_title{
    margin: 15px 0 24px;
    font-size: 30px;
    font-weight: 400;
}
.common_text{
    margin:0;
    line-height: 24px;
}
.md_text{
    margin-bottom: 60px;

}

/* ---- Weekend ends- */


/* --blog starts ------- */
.blog{
    padding-bottom: 80px;

}
.st_blog{
    margin-top: 85px;
    width: 47%;
    float: left;
    box-sizing: border-box;
    /* border: 1px solid; */
}
.st_blog:nth-child(even){
    margin-left: 6%;
}
.st_img{
    margin-bottom: 25px;
}
.st_img img{
    width: 100%;
}








/* -----blog ends ------*/

/* --- news Section starts--- */
.news{
    background-color:#f0f0f0  ;
    padding: 100px 0;
}
.signup{
    text-align: center ;
}
.news_h2{
    color: #333333;
    margin: 0px 0 65px;
}
.sub_form{
    position: relative;
    margin: 0 auto;
    width: 400px;
    
}
.sub_form input{
    padding:0 100px 0 0px;
    font-family:Playfairdisplay-regular;
    font-size: 14px;
    font-weight: 400;
    color: #626262 ;
    width: 285px;
    height: 45px;
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
}
.sub_form input:focus{
    outline:0;
}
.sub_form button{
    position: absolute;
    background: transparent;
    border: none; 
    cursor: pointer;
    top:16px;
    right: 0 ;
}
.sub_form button:focus{
    outline: 0;
}
  

/* --- news Section ends--- */

/* ---blog2 section starts-- */

.blog2{
    padding:100px 0 0;
}
.st_blog2{
    width: 47%;
    float: left;
    box-sizing: border-box;

}
.blog2_st_img{
    margin-bottom: 25px;

}
.blog2_st_img img{
    width: 100%;
}

.st_blog2:nth-child(even){
    margin-left: 6%;
 }


.btn_load {
    text-align: center;
}
.btn_load button{
   margin: 160px 170px;
   padding: 20px 34px;
   font-family:Playfairdisplay-regular;
   font-size: 20px;
   font-weight: 400;
   color: #626262;
   border: 1px solid#333333;
   transition: .33s;
   background: transparent;
}
.btn_load button:hover{
    cursor: pointer;
    color: #f0f0f0;
    background: #050505;
}


/* ---blog2 section ends-- */
/* ---footer section starts--- */
footer{
    padding: 45px 0px;
    background-color:#f0f0f0;
}
.left_side{
    width: 25%;
    float:left;
 
}
.left_side ul{
    padding-left: 0;
    float:left;
}
.left_side ul li{
    
    list-style: none;
    float: left;
}
.left_side ul li a {
    margin: 0 18px;
    display: inline-block;
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.left_side ul li:first-child a{
    margin-left: 0;
}

/* -----right side icon starts */

.right_side{
    width: 20%;
    float: right;
}
.right_side ul{
    float: right;
}
.right_side ul li{
    
    list-style: none;
    float: left;
}
 a {
    margin:0 18px;
    font-size: 14px;
    text-decoration: none;
}
.right_side ul li:last-child a{
    margin-right: 0;
}



/* ---footer section ends--- */